extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  #main
    div(class="main-left")
      div(class="banner-box")
        include includes/banner
      div(class="nav-bar")
        ul(class="nav-ul")
          li(class="nav-items") 
            a(href="javascript:;") 全部
          li(class="nav-items")
            - for (var i = 0; i < types.length; i++)
              a(href="javascript:;") #{types[i].name}
      div(class="list")
        - for (var i = 0; i < datas.length; i++)
          a(class="list-items" href="/activity?id=" + datas[i].address)
            div(class="list-items-title")=datas[i].title
            div(class="list-items-cont") 本文是作者结合 2019 年 7 月 12 ArchSummit 全球架07 月 12 日在 ArchSummit 全球架构师峰会 DDD（领域驱动设计）落地探索专场做的主题分享：
            div(class="list-items-foot")
              div(class="users")
                div(class="user-info")
                  //img(class="tx" src="")
                  span(class="name") 作者: #{datas[i].u.nickname}
                  span(class="name") 时间: #{datas[i].createdAt}
                  //div(class="num") 阅读 #{datas[i].read}
      div(class="list-footer")
        img(class="jzIcon" src="/images/jz.gif")
        span(class="jzTexe") 已加载全部内容！！！
    include includes/right
  script(src='/js/index.js')
  script(src='/js/head.js')